<nav class="navbar">
    <div class="navbar_identity">
        <h1>Comics</h1>
        <h2>logo</h2>
    </div>
    <div class="navbar_items">
        <ul>
            <li>Comics</li>
            <li>Characters</li>
            <li>Account</li>
        </ul>
    </div>
    <div class="navbar_login">
        {% if app.user %}
            <button class="log_button log_button--logout" type="submit"><a href="{{ path('app_logout') }}">LOGOUT</a></button>
        {% else %}
            <button class="log_button log_button--login" type="submit"><a href="{{ path('app_login') }}">LOGIN</a></button>
        {% endif %}
    </div>
</nav>