{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="container">
    <div class="section_title_container">
        <h1 class="section_title">CHARACTERS</h1>
    </div>
    {{ knp_pagination_render(characters) }}
    <div class="character_container">
        {% for character in characters %}
            <div class="character_card">
                <img class="character_card--image" src="{{ character.thumbnail.path  ~ '.' ~ character.thumbnail.extension }}">
                <div class="character_card--info">
                    <h3 class="character_card--name">{{ character.name }}</h3>
                    <p class="character_card--description">The last surviving member of a tree-like alien race, Groot is perhaps one of the most unusual beings in all the cosmos.</p>
                    <button class="character_card--button"><a href="{{ path('character_show', {'id': character.id}) }}">Voir</a></button>
                </div>
            </div>
        {% endfor %}
    </div>
</div>


{% endblock %}
