{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="character_container--show">
        <img class="character_card--image" src="{{ character.thumbnail.path  ~ '.' ~ character.thumbnail.extension }}">
        <div class="character_card--info">
            <h3 class="character_card--name">{{ character.name }}</h3>
            <p class="character_card--description">The last surviving member of a tree-like alien race, Groot is perhaps one of the most unusual beings in all the cosmos.</p>

            <h3 class="character_card--name">{{ character.comics.collectionURI }}</h3>
        </div>
    </div>
{% endblock %}